{% extends 'base.html.twig' %}

{% block title %}Hello Controller{% endblock %}


{% block body %}
    <div class="container">
<h1>Liste Article</h1>
<hr>
{% for article in list_article %}



<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
			<strong class="d-inline-block mb-2 text-primary">{{ article.category }}</strong>
			<h3 class="mb-0">{{ article.titre }}</h3>
			<div class="mb-1 text-muted">{{ article.datePub | date('d/m/Y') }}</div>
			<p class="card-text mb-auto">{{ article.contenu | slice(0, 100) }} ...</p>
            <p>{{ article.auteur }}</p>
            	<a href="{{ path('detail_article' , {'id' : article.id }) }}" class="stretched-link">Continue reading</a>
	
		</div>
		<div class="col-auto d-none d-lg-block">
			<img src="{{ asset('assets/images/' ~ article.image)}}" alt="" class="img-thumbnail" style="width:200px">
		</div>
	</div>

    {% endfor %}

</div>
{% endblock %}


